{% extends 'base.html.twig' %}

{% block title %}Chanson index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Chanson index</h1>

        {{ include('back_home/_nav_back.html.twig')}}

        <a class="btn btn-success" href="{{ path('back_song_new') }}">Create new</a>
    
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    {# <th>File</th> #}
                    {# <th>Picture</th> #}
                    <th>Description</th>
                    <th>Status</th>
                    <th>ReleaseDate</th>
                    {# <th>NbLike</th> #}
                    {# <th>NbListened</th> #}
                    {# <th>Slug</th> #}
                    <th>CreatedAt</th>
                    <th>UpdatedAt</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for song in songs %}
                <tr>
                    <td>{{ song.id }}</td>
                    <td>{{ song.title }}</td>
                    {# <td>{{ song.file }}</td> #}
                    {# <td>{{ song.picture }}</td> #}
                    <td>{{ song.description }}</td>
                    <td>{{ song.status }}</td>
                    <td>{{ song.releaseDate ? song.releaseDate|date('Y-m-d') : '' }}</td>
                    {# <td>{{ song.nbLike }}</td> #}
                    {# <td>{{ song.nbListened }}</td> #}
                    {# <td>{{ song.slug }}</td> #}
                    <td>{{ song.createdAt ? song.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ song.updatedAt ? song.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a class="btn btn-warning" href="{{ path('back_song_show', {'id': song.id}) }}">Show</a>
                        <a class="btn btn-success" href="{{ path('back_song_edit', {'id': song.id}) }}">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="13">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>   
{% endblock %}