{% extends 'base.html.twig' %}

{% block title %}Banner index{% endblock %}

{% block body %}
    <div class="container">
    <h1>Banner index</h1>

    {{ include('back_home/_nav_back.html.twig')}}

    <a class="btn btn-success" href="{{ path('back_banner_new') }}">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for banner in banners %}
            <tr>
                <td>{{ banner.id }}</td>
                <td>{{ banner.name }}</td>
                <td>{{ banner.status }}</td>
                <td>{{ banner.createdAt ? banner.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ banner.updatedAt ? banner.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('back_banner_show', {'id': banner.id}) }}">Show</a>
                    <a class="btn btn-success" href="{{ path('back_banner_edit', {'id': banner.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
{% endblock %}