<ul class="nav mb-3 btn-group btn-group-toggle">
    <li class="nav-item btn btn-secondary">
        <a class="link-light nav-link" href="{{ path('back_user_index') }}">Utilisateurs</a>
    </li>
    <li class="nav-item btn btn-secondary">
        <a class="link-light nav-link" href="{{ path('back_song_index') }}">Chansons</a>
    </li>
    <li class="nav-item btn btn-secondary">
        <a class="link-light nav-link " href="{{ path('back_playlist_index') }}">Playlists</a>
    </li>
    <li class="nav-item btn btn-secondary">
        <a class="link-light nav-link " href="{{ path('back_genre_index') }}">Genres</a>
    </li>
    <li class="nav-item btn btn-secondary">
        <a class="link-light nav-link " href="{{ path('back_review_index') }}">Reviews</a>
    </li>
    <li class="nav-item btn btn-secondary">
        <a class="link-light nav-link " href="{{ path('back_banner_index') }}">Bannières</a>
    </li>
</ul>